.sidebar {
width: 200px;
height: calc(100vh - 66px);
display: flex;
flex-direction: column;
transition: width 0.3s;
}
.sidebar.hidden {
width: 0;
overflow: hidden;
transition: width 0.3s;
}
.message-container {
position: relative;
display: grid;
grid-template-rows: fit-content(100%) 1fr fit-content(100%);
width: 100vw;
height: 100vh;
max-height: 100vh;
margin: 0 5vw;
overflow-y: hidden;
}
.fa-bars-comments-container {
display: flex;
align-items: center;
transition: all 0.3s ease;
}
.chat-item {
position: relative;
}

.chat-button-container {
display: flex;
align-items: center;
transition: background-color 0.3s ease;
margin-top: 0.5rem;
margin-bottom: 0.5rem;
padding: 10px 10px 5px 0;
text-align: center;
}

.chat-button-container:hover,
.chat-button-container.active {
background-color: #eee;
}

.sidebar button {
flex-grow: 1;
background: transparent;
border: none;
text-align: left;
}
.options-container {
opacity: 0;
transition: opacity 0.3s ease;
}

.chat-button-container:hover .options-container,
.chat-button-container.active .options-container {
opacity: 1;
}

.options-popup {
position: fixed;
background-color: white;
border-radius: 8px;
padding: 10px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
z-index: 9999;
width: 150px;
}
.sidebar button.active {
background-color: #eee;
}
.sidebar button:hover {
background-color: #eee;
}
.sidebar ul {
list-style-type: none; /* 불릿(점) 제거 */
padding: 0; /* 기본 패딩 제거 */
margin: 15px 20px;
cursor: pointer;
}
.top-bar {
padding: 15px 0;
display: flex;
justify-content: flex-end;
width: 100%;
background-color: white;
}
.messages {
display: flex;
flex-direction: column;
overflow-y: auto;
max-height: 100%;
}
.input-container {
display: grid;
grid-template-columns: 1fr fit-content(100%) fit-content(100%);
grid-template-rows: fit-content(100%) fit-content(100%);
width: 100%;
height: fit-content;
padding: 10px 0 0 0;
background-color: #fff;
}
.input-container textarea {
padding: 0.5rem;
font-size: 1rem;
overflow-y: auto;
resize: none;
transition: all 0.3s ease;
max-height: 30vh;
}
.input-container textarea:disabled {
background-color: #f0f0f0;
color: #a0a0a0;
opacity: 1;
}
.input-container button {
font-size: 1rem;
border: none;
background-color: #007bff;
color: white;
border-radius: 4px;
cursor: pointer;
padding: 20px 18px;
height: fit-content;
width: fit-content;
}
.input-container button:hover {
background-color: #0056b3;
}
.message {
margin-bottom: 1rem;
border-radius: 10px;
white-space: pre-wrap;
/* margin-right: 20%; */
/* margin-left: 20%; */
max-width: 70%;
display: flex;
justify-content: flex-start;
overflow-wrap: break-word;
height: fit-content;
}
.message.user {
background-color: #eee;
align-self: flex-end;
border-radius: 0.5rem;
padding: 1rem;
}
.message.bot {
text-align: left;
align-self: flex-start;
display: flex;
}
.message.bot::before {
content: "\f544";
font-family: "Font Awesome 5 Free";
font-weight: 900;
color: black;
margin-right: 18px;
display: inline-block;
font-size: 1.3rem;
}
.toggle-button-box {
position: sticky;
display: flex;
align-items: center;
justify-content: space-between;
margin: 15px 10px;
z-index: 2;
}
.toggle-button-box.off {
position: absolute;
top: 0;
}
.toggle-button {
display: flex;
justify-content: center;
align-items: center;
color: black;
border: none;
padding: 10px;
border-radius: 4px;
cursor: pointer;
margin: 0 10px;
}
.toggle-button:hover {
background-color: #f5f5f5;
}
.h-14 {
height: 3.5rem;
}
.nav-bg-grey {
background-color: #e3e3e3;
}
.message-input {
min-width: 30vw;
padding: 10px;
font-size: 1rem;
border: 1px solid #ccc;
border-radius: 5px;
resize: none;
}
.message-input:focus {
outline: none;
border-color: #007BFF;
}
.center-text {
text-align: center;
grid-column-start: 1;
grid-column-end: 4;
background-color: white;
white-space: nowrap;
text-overflow: ellipsis;
padding: 10px;
overflow: hidden;
font-size: 0.8rem;
}
.mr-6 {
margin-right: 6px;
}


.options-icon {
cursor: pointer;
background: none;
border: none;
padding: 0;
margin: 0;
color: #bbb;
}

.options-popup button {
display: block;
width: 100%;
padding: 5px 10px;
border: none;
background-color: #fff;
}
.options-popup button:hover {
background-color: #eee;
}
.message-content{
display: flex;
flex-direction: column;
height: fit-content;
overflow: auto;
}
:global(.message-content p) {
margin: 0;
}
:global(.message-content pre) {
background-color: #eee;
padding: 1rem;
margin: 0;
border-radius: 0.5rem;
overflow-x: auto;
}
:global(.message code) {
font-family: 'Courier New', Courier, monospace;
font-size: 0.9em;
}


.upload-tooltip {
position: relative;
display: inline-block;
margin: 0 5px;
}

.upload-tooltip .tooltiptext {
position: absolute;
z-index: 1;
display: flex;
align-items: center;
justify-content: center;
background-color: #555;
border-radius: 5px;
padding: 7px 10px 5px 10px;
bottom: calc(100% + 10px);
left: 50%;
transform: translate(-55%, 0);
opacity: 0;
transition: opacity 0.3s;
font-size: 0.8rem;
white-space: nowrap;
color: #fff;
}

.upload-tooltip:hover .tooltiptext {
visibility: visible;
opacity: 1;
}

.upload-tooltip.disabled .tooltiptext {
background-color: #aaa;
}
