# python
*.pyc
__pycache__/
*.ipynb
venv
.venv
.ruff_cache
# test
.coverage
# Deep Learning Model Parameter
*.gguf
*.gguf
*.gguf.lock
*.gguf.metadata

# hugginface cache
*.cache

# env, config
.env

# IDE
.vscode/

# DB
*.db

traefik-public/
