# python
*.pyc
__pycache__/
*.ipynb

# Deep Learning Model Parameter
*.gguf
*.gguf
*.gguf.lock
*.gguf.metadata



# env, config
.env

# IDE
.vscode/

# DB
alembic.ini
migrations
*.db

# document(test for rag)
*.pdf